<!DOCTYPE html>

<html>
<head>
	<title>{{title}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width", inital-scale="1.0">

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
</head>

<body>
  <div class="container">

	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Grouper <span class="glyphicon glyphicon-home"></span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/my-profile">My Profile</a></li>
            <li><a href="/setttings">Settings</a></li>
            <li><a href="/signin">Sign Out</a></li>
          </ul>
        </div>
      </div>
    </nav>

	<div class="home">
	    <h1 class="page-header">Hello, David</h1>

	    <div class="row placeholders">
	    	<center>Pick a course from below to view peers.</center>
	    </div>

	    <div class="row placeholders">
				{{#each courses}}
	      <div class="col-xs-12 col-sm-6 col-md-4 placeholder">
		    <div class="center-block panel panel-default course-panel">
			  <div class="panel-heading">
			    <a href={{url}}><h3 class="panel-title">{{id}}</h3></a>
			  </div>

				<div class="panel-body">
		          <p><span class="text-muted">{{title}}</span></p>
		   
		          <button type="button" class ="btn btn-default" data-toggle="modal" data-target="#myModal">Remove course</button>

		          <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div> 

                        <div class="modal-body">
                          Are you sure you want to remove <b>{{title}}</b> from your list of courses?                   
                        </div>

                        <div class="modal-footer">
                          <button type="button" class="btn btn-default"><a href="/">Yes</a></button>
                          <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">No</button>
                        </div>
                    </div>
                  </div>
                </div>

			  </div>
		    </div>
	      </div>
				{{/each}}
	    </div>

	    <div class="row placeholders">
	      <h4>Add a course</h4>
	      <p>Enter your course code provided by your professor.<p>
	      <form id="addCourseForm" role="form" method="get" action="/addCourse">
	      	<input type="text" placeholder="12345" name="addCourse">
	      	<input type="submit" value="Submit">
	      </form>
	    </div>

	</div>
  </div>

  <script src="/js/jquery-3.1.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>
