<!DOCTYPE html>

<html>
<head>
	<title>{{title}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width", inital-scale="1.0">

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
</head>

<body>
  <div class="container">

	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/instructor-index">Grouper <span class="glyphicon glyphicon-home"></span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          	<li><a href="#" id="helpModalLink" data-toggle="modal" data-target="#helpModal">Help</a></li>
            <li><a href="/">Sign Out</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="modal fade" id="helpModal" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             <h4 class="modal-title">Help Documentation</h4>
          </div>

          <div class="modal-body">
            <ul>
            	<li>To get started, create a course by inputting the <i>Course Code</i>, <i>Course Title</i>, and <i>Group Size</i>. The <i>Group Size</i> is the number of students you want in each group.</li>
            	<li>Give the course password to your students to add the course.</li>
            </ul>
          </div>

          <div class="modal-footer"> 
            <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Close</button>
          </div>
        </div>
      </div>
    </div>

	<div class="home">
	    <h1 class="page-header">Hello, {{name}}</h1>
	    <!--<div class="row placeholders">
	    	<h4 align="center">View an existing course</h4> Viewing a course will take you to student account view.
	    </div> -->

	    <div class="row placeholders">
	    	<h3 align="left">Winter 2017</h3>
			{{#each courses}}
				<div class="col-xs-12 col-sm-6 col-md-4 placeholder">
					<div class="modal fade" id="{{id}}" role="dialog">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								</div>

								<div class="modal-body">
									Are you sure you want to remove <b>{{name}}</b> from your list of courses?
								</div>

								<div class="modal-footer">
									<button type="button" class="btn btn-default" id="removeBtn{{id}}" data-dismiss="modal" aria-label="Close">Yes</button>
									<button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">No</button>
								</div>
							</div>
						</div>
					</div>

					<div class="center-block panel panel-default course-panel" id="panel{{id}}">
						<div class="panel-heading">
							<a href={{url}}><h3 class="panel-title">{{name}}</h3></a>
						</div>
						<div class="panel-body">
							<p><span class="text-muted">{{title}}</span><br><b>Course password</b>: {{pw}}</p>
							<!-- <a href={{url}} class ="btn btn-primary placeholder" role="button">View course</a><br> -->
							<button type="button" class ="btn btn-default btn-xs" data-toggle="modal" data-target="#{{id}}">Remove course</button>
						</div>
					</div>
		      	</div>
			{{/each}}
	    </div>

	    <div class="row placeholders">
	      <h4>Create a new course</h4>
	      <form id="createCourseForm" method="post" action="/instructor-index/add-course">
	      	<label for="inputCourseCode" class="col-sm-2 control-label">Course Code</label>
	      	<input type="text" placeholder="COGS 199" id="courseCode" class="form-control" required><br>
	      	<label for="inputCourseName" class="col-sm-2 control-label">Course Title</label>
	      	<input type="text" placeholder="Special Project" id="courseName" class="form-control" required><br>
	      	<label for="inputGroupSize" class="col-sm-2 control-label">Group Size</label>
	      	<input type="text" placeholder="2" id="groupSize" class="form-control" required><br>
	      	<input type="submit" value="Submit" data-toggle="tooltip" data-placement="right" title="A course password will be generated. Give this code to your students to add the course.">
	      </form>
	    </div>

	    <div class="row placeholders">
	    	<h3 align="left">Past courses</h3>
	    	You have no previous courses on Grouper.
	    </div>

	</div>
  </div>

  <script src="/js/jquery-3.1.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/instructor-index.js"></script>

</body>
</html>
