<!DOCTYPE html>

<html>
<head>
	<title>{{title}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width", inital-scale="1.0">

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
</head>

<body>
  {{> navigation}}
  <div class="container">
    <div class="peer">
      <div class="row">
        <div class="col-sm-4">
          <img src="/images/{{avatar}}" class="img-responsive">
        </div>

        <div class="col-sm-8">
          <h1 class="page-header">{{name}}
            <a class="btn btn-default pull-right" href="/edit-profile">Edit Profile</a>
          </h1>
          <div class="row-info">
            <label for="inputMajor" class="control-label">Major</label> {{major}}
          </div>

          <div class="row-info">
            <label for="inputYear" class="control-label">Year</label> {{year}}
          </div>

          <div class="row-info">
            <label for="inputLocation" class="control-label">Location</label> {{location}}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-times">
            <b>Tentative schedule:</b>
            {{#each days}}
            <div class="form-group">
              <label>{{day}}</label> {{from}}
              <label> to</label> {{to}}
            </div>
            {{/each}}
        </div>

        <div class="col-sm-8">
            <div class="row"><label for="inputBio">Personal Bio</label><br>
							{{bio}}
						</div>

            <div class="row"><label for="inputRoles">Team Roles</label><br>
							{{roles}}
						</div>
        </div>
    	</div>

	  </div>
	</div>

  <script src="/js/jquery-3.1.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>
